<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/x-icon" href="<%= context.config.publicPath %>favicon.png" />
  <title>xxxxx平台管理系统</title>
</head>

<body>
  <div id="root"></div>
</body>

</html>
